.parallelogram {
	width: 100%;
	height: 100%;
	/*opacity: 0.5;*/
	background-color: rgba(51, 170, 238, 0.6);
	-webkit-transform: skew(150deg) !important;
	   -moz-transform: skew(150deg) !important;
	     -o-transform: skew(150deg) !important;
	/*background: #00b3e8;*/
}


.offers {
  animation: shake 1s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  /*-webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3; 
  animation-iteration-count: 3;
  */
  -webkit-animation-delay: 2s; 
  animation-delay: 2s;

  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}